:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    
}

*{
    font-family: 'firacode', monospace;
}

body{
    background-color: #304dacaa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}